.popover {
  pointer-events: none;
  border-color: transparent;
}

.paper {
  margin-top: 10px;
  padding: 4px;
  pointer-events: auto;
  cursor: pointer;
  background: red!important;
}

.icon {
  color: white;
}